<div class="container text-center">
  <h1>Crear Lugar Turistico</h1>
  <form [formGroup]="lugarTuristicoForm" (ngSubmit)="crear()">
    
    <div class="row mt-3">
      <div class="col-sm-4">
        <label>Nombre:</label>
      </div>
      <div class="col-sm-8">
        <input validar type="text" id="nombreLugarTuristico" name="nombre" placeholder="Nombre..." class="form-control"
          formControlName="nombre">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-4">
        <label>Descripción:</label>
      </div>
      <div class="col-sm-8">
        <input validar type="text" id="descripcionLugarTuristico" name="descripcion" placeholder="Descripción..."
          class="form-control" formControlName="descripcion">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-4">
        <label>Municipio:</label>
      </div>
      <div class="col-sm-8">
        <select formControlName="idMunicipio" class="form-select form-select-sm">
          <option *ngFor="let opt of $municipios | async" [value]="opt.id">{{opt.nombre}}</option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-4">
        <label>Direccion:</label>
      </div>
      <div class="col-sm-8">
        <input validar type="text" id="direccionLugarTuristico" name="direccion" placeholder="Direccion..."
          class="form-control" formControlName="direccion">
      </div>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto mt-2">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form> 
</div>



