<div class="container text-center">
  <h1>Consultar reserva</h1>
  <div class="row mt-5">
      <div class="col-sm-4">
        <label>Identificador reserva:</label>
      </div>
      <div class="col-sm-8">

        
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="identificadorReserva">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="consultarReserva()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      </div>
  </div>
</div>

<app-detalle-reserva *ngIf="reserva.id" [reserva]="reserva"></app-detalle-reserva>