<div class="container text-center">
  <h1>Realizar reserva</h1>
  <div class="row">
    <div class="col-sm-6">

      <form [formGroup]="reservaForm" (ngSubmit)="crear()">
        
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Fecha reserva:</label>
          </div>
          <div class="col-sm-8">
            <input class="form-control" type="date" value="2011-08-19" id="fechaReserva" formControlName="fechaReserva">
          </div>
        </div>
    
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Cedula:</label>
          </div>
          <div class="col-sm-8">
            <input validar type="text" id="cedulaReserva" name="cedula" placeholder="Cedula..."
              class="form-control" formControlName="cedulaCliente">
          </div>
        </div>
    
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Nombre:</label>
          </div>
          <div class="col-sm-8">
            <input validar type="text" id="nombreReserva" name="nombre" placeholder="Nombre..."
              class="form-control" formControlName="nombreCliente">
          </div>
        </div>
    
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Telefono:</label>
          </div>
          <div class="col-sm-8">
            <input validar type="number" id="telefonoReserva" name="telefono" placeholder="Telefono..."
              class="form-control" formControlName="telefonoCliente">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Email:</label>
          </div>
          <div class="col-sm-8">
            <input validar type="text" id="emailReserva" name="email" placeholder="Email..."
              class="form-control" formControlName="emailCliente">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Numero Personas:</label>
          </div>
          <div class="col-sm-8">
            <input validar type="number" id="numneroPersonaReserva" name="numeroPersonas" placeholder="Numero personas..."
              class="form-control" formControlName="numeroPersonas">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Observaciones:</label>
          </div>
          <div class="col-sm-8">
            <textarea validar type="text" id="observacionesReserva" name="observaciones" placeholder="Observaciones..."
              class="form-control" formControlName="observaciones" rows="3">
            </textarea>
          </div>
        </div>
    
        <div class="d-grid gap-2 col-2 mx-auto mt-2">
          <button type="submit" class="btn btn-primary">Reservar</button>
        </div>
      </form> 
    
      </div>
    
      <div class="col-sm-6 mt-3">
        <div class="card mb-3 border-primary">
          <img src="/assets/image/default-lugar-turistico.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{paqueteTuristico.nombre}}</h5>
            <p class="card-text">{{paqueteTuristico.descripcion}}</p>
            <p class="card-text"><small class="text-muted">Precio por persona: {{paqueteTuristico.precioPorPersona}}</small></p>
          </div>
        </div>
      
      </div>
  </div>
</div>



